body {
    background-color: rgb(212, 221, 255);
}

body { 
    text-align: center;
    padding: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 0px 0.1px;
    outline: 5px;
    outline-style: dashed;
    padding-top: 1px;
    padding-bottom: 10px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.hobby-pics:hover {
    transform: scale(1.05) rotate(8deg);
}

.hobby-pics {
    transition: transform 0.3s ease-in-out;
    
}

.hackclub-link {
    transition: transform 0.1s ease-in-out;
    display: inline-block;
}

.hackclub-link:hover {
    transform: scale(1.05) rotate(2deg);
}

html {
    scroll-behavior: smooth;
}

.clouds {
    margin: -50px 35px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {transform: translateY(0px);
    }
    }
